[client]
loose-default_character_set=utf8mb4

[mysql]
default-character-set=utf8mb4

[mysqld]
# Master用設定
server_id=1
rpl_semi_sync_master_enabled=1
rpl_semi_sync_master_timeout=10000

# レプリケーション関連
gtid_mode=ON
enforce_gtid_consistency=ON
log_bin=mysql-bin
sync_binlog=1
binlog_format=MIXED
plugin-load=rpl_semi_sync_master=semisync_master.so

# 文字コード関連
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci
init-connect=SET NAMES utf8mb4
skip-character-set-client-handshake

# タイムスタンンプ関連
log_timestamps=SYSTEM
explicit_defaults_for_timestamp=TRUE

# スロークエリ関連
slow_query_log=ON
long_query_time=0.5
slow_query_log_file=/var/log/mysql/slow_query.log

# その他
log-error=/var/log/mysql/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
innodb_file_format=Barracuda
innodb_file_per_table=1
innodb_large_prefix=1
innodb_default_row_format=DYNAMIC
